= render "droom/scraps/heading", :scrap => scrap

.body.large
  %p
    = link_to scrap.url_without_protocol, scrap.url_with_protocol, :class => "icon link"

= render "droom/scraps/caption", :scrap => scrap
