.body
  %iframe.youtube{:width => "580", :height => "326", :src => "http://www.youtube.com/embed/#{@scrap.body}?fs=1&autohide=1&modestbranding=1&autoplay=1&wmode=opaque", :frameborder => 0, :allowfullscreen => true}

= render "droom/scraps/caption", :scrap => scrap
