- cssclass = "phone "
- cssclass << phone.address_type.slug if phone.address_type

%li{class: cssclass}
  %span.contact
    = link_to phone.phone, "tel:#{phone.phone}"
  - if phone.address_type
    %span.contact_type
      = phone.address_type.name
  