- education ||= @education

%li.education
  %span.period
    = education.year_from
    \-
    - if education.year_to == 0
      = t :now
    - else
      = education.year_to
    \:
  %span.description
    = education.description
