.organisations_list.autogrid{:data => {:refreshable => true, :url => "#{droom.organisations_path}.js"}}
  = render 'droom/shared/search', url: organisations_url

  = render :partial => 'droom/organisations/show/listed', :collection => @organisations

.pagination.lower
  = paginate @organisations, :params => {:format => nil}
