- organisation ||= suggested

%li.organisation
  %strong
    = link_to organisation.name, organisation_url(organisation)

= render :partial => "droom/users/suggested", :collection => organisation.people
