- content_for :title do
  = t :organisation_applications

- content_for :standfirst do
  %p
    = t :pending_organisations_introduction, count: Droom::Organisation.pending.count
    = t :click_below_to_approve

#pending_organisations{:data => {:refreshing => true, :url => droom.pending_organisations_url}}
  #main.body
    - if @organisations.any?
      = render :partial => 'droom/organisations/show/pending', collection: @organisations
    - else
      %p
        No organisations are waiting for approval.
