- content_for :breadhead do
  - if can?(:index, Droom::Organisation)
    = link_to t(:organisations), droom.organisations_url
  - else
    = link_to t(:site_title), droom.root_url


- @view ||= 'page'
= render partial: "droom/organisations/show/#{@view}"
