<!DOCTYPE html>
<html>
<head>
  <title>Dataroom</title>
  <%= stylesheet_link_tag    "dataroom/application", :media => "all" %>
  <%= javascript_include_tag "dataroom/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
