- if @everyone.any?
  %table.main.users{:data => {:refreshable => true, :url => "#{users_path}.js"}}
    %thead
      %tr
        - %w{name email directory invited confirmed admin settings}.each do |col|
          %th{:class => col}
            = col unless col == "name" || col == "email"

    = render :partial => 'user_or_person', :collection => @everyone

- else
  .everyone
    %p
      No users have been created. How odd that you can see this page.