#edit_user
  .header
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2.titlebar
      - if @user == current_user
        = t :edit_your_profile
      - else
        = t :edit_person

  = render :partial => 'form'
