// either we have @organisation, or we do not

- content_for :pagetitle do
  = t :set_up_organisation

- content_for :title do
  =t :hello
  = current_user.formal_name.strip

- content_for :standfirst do
  %p
    = t :set_password_preamble

= render "droom/users/edit/setup_organisation", user: current_user
