#account
  %h1.pagetitle
    Please check your email
  %p
    A message has been sent to
    = current_user.email + '.'
    Click on its 'begin registration' link to continue the registration process.
  / %p
  /   = link_to new_user_confirmation_path, class: "waiter" do
  /     %svg.prefix
  /       %use{"xlink:href" => "#message_symbol"}
  /     %span.label
  /       Resend message
