- folder ||= @folder

%li.folder.holder{:id => "folder_#{folder.id}", :data => {:refreshable => true, :url => folder_path(folder, :format => :js)} }
  = link_to folder.slug, "#", :class => "folder"
  = render :partial => 'droom/folders/contents', :locals => {:folder => folder}
      