- omit_buttons ||= false
- if can?(:edit, folder)
  - uldata = {folder_id: folder.id, droppable: droom.folder_documents_path(folder), queue: "#queue_to_#{folder.id}", refreshes: "#folder_#{folder.id}"}
  - ulclass = 'filing large sortable_files'
- else
  - uldata = {}
  - ulclass = 'filing large'

%ul{class: ulclass, data: uldata}<
  = render :partial => 'droom/documents/simple', :collection => folder.documents, locals: {omit_buttons: omit_buttons}

