- document ||= listing
- if current_user.person
  - if pd = current_user.person.personal_or_generic_version_of(document)
    - document = pd

%li.document.holder
  = link_to document.name, document.file.url, :class => document.file_extension, :title => t(:click_to_download, :name => document.file_file_name)
  - if admin?
    - d_a = @event.document_attachments.find_by_document_id(document)
    = link_to t(:remove), document_document_attachment_path(document, d_a), :method => :delete, :remote => true, :class => 'admin delete minimal', :data => {:confirm => t(:confirm_remove_document, :name => document.name, :event_name => @event.name)}

