- document ||= listing
- if current_user.person
  - if pd = current_user.person.personal_or_generic_version_of(document)
    - document = pd

%li.document
  = link_to document.name, document.file.url, :class => document.file_extension, :title => t(:click_to_download, :name => document.file_file_name)