#search_results
  %h4
    - if @searching
      = t :search_results
    - else
      = t :all_documents

  - if @documents.any?
    %ul.downloads
      = render :partial => 'li', :collection => @documents
    / .pagination
    /   = paginate @documents, :params => {:format => nil}

  - else
    %p.error
      = t :no_results
    
