- document ||= suggested

%li.document
  = link_to document.name, document_url(document), :class => "document #{document.file_extension} suggestion", :title => t(:click_to_download, :name => document.file_file_name)
