- @seen_events = {}

#documents
  - if @my_documents.any?
    %section.personal
      %p.twister
        = link_to t(:your_personal_documents), '#'
      .twisted
        = render :partial => 'document', :collection => @my_documents
  
