- @seen_events = {}

#documents
  %table.sortable
    %thead
      %tr
        %th
          %a{:href => "#", :"data-sort" => "name"}
            Name
            .pointer
        %th
          %a{:href => "#", :"data-sort" => "created_at"}
            Created at
            .pointer
        %th
          %a{:href => "#", :"data-sort" => "event_name"}
            Event
            .pointer
    %tbody
  
#marginalia
  = render :partial => 'droom/shared/search_form'
  .search_results