#documents

  %form.search{:action => documents_url, :id => "document_search"}
    %p.input
      = text_field_tag :q, params[:q], :name => 'q', :class => 'search', :placeholder => t(:search), :data => {:action => "filter"}
      

  - if current_user.admin?
    .holder
      %p.admin
        = link_to t(:add_document), droom.new_document_url, :class => "add", :remote => true, :data => {:action => "popup", :affected => "table.documents"}


  = render :partial => 'documents_table'

  
- content_for :title do 
  = t :library
  