- @seen_events = {}

#documents
  %table.sortable{:"data-url" => "documents"}
    %thead
      %tr
        %th
          %a{:href => "#", :"data-sort" => "name"}
            Name
            .pointer
        %th
          %a{:href => "#", :"data-sort" => "created_at"}
            Created at
            .pointer
        %th
          %a{:href => "#", :"data-sort" => "event_name"}
            Event
            .pointer
    %tbody
      = render :partial => 'document_table'
      
#marginalia
  = render :partial => 'droom/shared/search_form'
  .search_results