.divider
%section
  #events{:data => {:refreshable => true, :url => droom.events_url(:limit => 6)}}
    - calendar = Droom::Calendar.where(name: 'main').first_or_create
    - if can?(:read, :private_objects)
      - events = calendar.events.future_and_current.order('start ASC').limit(6)
    - else
      - events = calendar.events.not_private_nor_of_private_type.future_and_current.order('start ASC').limit(6)

    %h2.section
      = link_to t(:future_events), main_app.calendar_url
      - if calendar.events.future_and_current.count > 5
        %span.addendum
          =t(:click_for_more, count: calendar.events.future_and_current.count - 5)
      - if can?(:create, Droom::Event)
        %span.action
          = link_to t(:add_event), droom.new_event_url, :class => "add", :data => {:action => "popup", :affected => "#events"}

    - if events.any?
      = render :partial => "droom/events/event", :collection => events, :locals => {:brief => true}
    - else
      %p.nothing
        = t :no_future_events
  
