- groups = current_user.groups if current_user

%h2.section
  = link_to t(:your_groups), droom.documents_url

- if groups.any?
  = render :partial => "droom/groups/group", :collection => groups, :locals => {:closed => true}
- else
  = t :no_groups