- if current_user.person
  - documents = current_user.person.group_documents
  - if documents.any?
    %h2.quiet
      = t :my_group_documents
    = render :partial => "droom/documents/document", :collection => documents
