- calendar = Droom::Calendar.where(name: 'main').first_or_create
- if can?(:read, :private_objects)
  - events = calendar.events.past.limit(6)
- else
  - events = calendar.events.past.not_private_nor_of_private_type.limit(6)

- if events.any?
  .divider
  %section
    #past_events
      %h2.section
        = link_to main_app.calendar_url do
          = t(:recent_events)
          - if calendar.events.past.count > 5
            %span.addendum
              =t(:click_for_more, count: calendar.events.past.count - 5)

      - if events.any?
        = render :partial => "droom/events/event", :collection => events, :locals => {:brief => true}

      - else
        %p.nothing
          = t :no_past_events