%section
  %h2.section
    = t(:stream_title)
    - if admin? || Droom.stream_shared?
      %span.action
        = link_to t(:add_to_stream), droom.new_scrap_url, :class => "add minimal", :data => {:action => "popup", :prepended => ".preload", :affected => "#scraps"}
  #stream
    #scraps.holder{:data => {:refreshable => true, :url => scraps_path(:format => :js)}}
      = link_to t(:loading_stream), droom.scraps_url(:format => :js, :show => 8), :data => {:action => "autofetch"}
