= render :partial => "droom/shared/admin"

#dashboard
  - Droom.active_dashboard_modules.each do |mod|
    = render :partial => "droom/dashboard/#{mod}"

= render :partial => 'droom/dashboard/marginalia'
