- event ||= @event

- if event.invitations.any?
  %ul.people{ :"data-url" => "#{event_invitations_path(event)}.js", :"data-refreshable" => true}
    = render :partial => "droom/people/person", :collection => event.people, :locals => {:uninvite => event}
