- group ||= @group
- user ||= @user
- membership = Droom::Membership.where(:user_id => user.id, :group_id => group.id)

.holder
  - if membership
    %a.toggle_active{:href => group_membership_path(group, membership), :"data-type" => "html", :"data-remote" => "true", :"data-method" => :delete}
      .a_member
  - else
    %a.toggle_active{:href => new_group_membership_path(group, :user_id => user.id), :"data-type" => "html", :"data-remote" => "true"}
      .not_a_member
