%table.main.people{:data => {:refreshing => true, :url => "#{group_path}.js"}}
  %tbody
    - @group.memberships.each do |membership|
      = render :partial => 'droom/memberships/member', :locals => {:membership => membership}