- cssclass = 'biography_info'
- cssclass << ' editable' if can?(:edit, @user)

%section{class: cssclass, data: {refreshing: true, url: droom.user_url(@user, view: 'biography', format: :js)}}
  - if @user && can?(:edit, @user)
    %span.user_controls
      = link_to t(:edit_user_profile_symbol), droom.edit_user_url(@user, view: 'biography'), class: "edit", data: {action: 'popup', affected: "section.biography_info"}

  %h2.section
    = t :user_profile_biography

  - if Droom.use_biogs?
    - if @user.description?
      = @user.description.html_safe
    - else
      %span.unknown
        = 'None'