- user ||= @user

%ul.contacts
  = render partial: "droom/emails/email", collection: user.emails.populated
  = render partial: "droom/phones/phone", collection: user.phones.populated
  = render partial: "droom/addresses/address", collection: user.addresses.populated
