- user ||= link ||= @user

%li{id: "user_#{user.id}", data: {refreshing: true, url: droom.user_path(user, view: 'link')} }
  = link_to user_url(user), data: {action: "popup"} do
    %svg.prefix
      %use{href: "/lms-sprites.svg#sprite-user"}
    %span.label
      = user.colloquial_name
  - if user.email.present?
    %span.contact
      = mail_to user.email, user.email, class: "email"
