.contents
  %h3
    = t :help_pages
  %ul
    - @pages.each do |page|
      %li
        %strong
          = link_to_unless_current page.title, help_page_url(page.slug)
        %br
        = page.summary
