#main.pages

  %p.standfirst
    = t(:pages_introduction)

  = render :partial => "droom/pages/pages"

  %p.admin
    = link_to t(:new_page), droom.new_page_url


- content_for :title do 
  = t 'pages.index'
