#account
  %h1.pagetitle
    =t :thank_you

  %p
    %strong
      = t :hello_name, name: current_user.name
    = t :password_reset_complete

    - if url = controller.stored_location_for(:user)
      %p
        = t :would_you_like_to_return
        = link_to(t(:backto), url) + '.'