- if user_signed_in?
  %nav.icons{:"data-selected" => session[:panel]}
    - Droom.panels.each do |panel|
      - if admin? || panel != 'admin'
        = link_to t(panel), "#", :class => panel, :"data-panel" => panel, :title => t(panel)
