.search_results
  - if @results && @results.any?
    - @results.each do |result|
      = render :partial => "#{result.class.to_s.pluralize.underscore}/search_result", :object => result
  
  - elsif @fragment
    %li.error
      = t :no_results
      - with_info ||= false
