%ul.search_results
  - if @suggestions.any?
    - @suggestions.each do |sugg|
      = render :partial => "#{sugg.class.to_s.pluralize.underscore}/suggested", :object => sugg
  
  - else
    %li.error
      = t :no_results
  / %li.more
  /   = link_to "More results...", search_url, :class => 'more'
  %li.cancel
    = link_to t(:clear_search), '#', :class => "cancel"
