- cssclass = "address "
- cssclass << address.address_type.slug if address.address_type

%li{class: cssclass}
  %span.contact
    = address.address
  - if  address.address_type
    %span.contact_type
      = address.address_type.name
