- if editable?(scrap)
  .menu
    %ul.actions
      %li
        = link_to t(:edit_scrap), droom.edit_scrap_url(scrap), :class => 'edit', :data => {:action => "popup", :replaced => "#scrap_#{scrap.id}"}
      %li
        = link_to t(:delete_scrap), droom.scrap_url(scrap), :method => 'delete', :class => 'delete', :data => {:action => "remove", :affected => "#stream", :confirm => t(:confirm_delete_scrap, :type => scrap.scraptype)}
