.header
  %h2
    - if preceding = @scrap.next_older
      = link_to t(:previous), droom.scrap_url(preceding), :data => {:action => "slide", :direction => "left", :affected => ".scrap"}, :class => "prev"
    - else
      %span.prev

    = t(:stream)

    - if following = @scrap.next_younger
      = link_to t(:next), droom.scrap_url(following), :data => {:action => "slide", :direction => "right", :affected => ".scrap"}, :class => "next"
    - else
      %span.next
  