#scraps.paginated{:data => {:refreshable => true, :url => scraps_path(:format => :js)}}
  - if @scraps.any?
    = render :partial => "thumb", :collection => @scraps
    .pagination
      = paginate @scraps
  - else
    = t :no_stream
  