- scrap ||= thumb
- if Droom.scrap_types.include? scrap.scraptype
  .scrap{:id => "scrap_#{scrap.id}"}
    = render :partial => "droom/scraps/thumbs/#{scrap.scraptype}", :locals => {:scrap => scrap}

