#stream
  %h1.pagetitle
    = t :stream

  %p.action
    = link_to t(:add_to_stream), droom.new_scrap_url, :class => "add", :data => {:action => "scrapup", :affected => "#scraps"}

  - if @scraps.any?
    = render :partial => "stream"
    
  - else
    .nomatch
      %h2
        = t :no_stream

