#scrap
  .header{data: {draggable: ".popup", remembered: "popup"}}
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2.titlebar
      = t :add_notice

  = render :partial => 'form'