- limit = first ? 700 : 300

.content
  - if document = notice.document
    %p
      = link_to document.name, droom.folder_document_url(document.folder, document), :class => "dl #{document.file_extension}"

  = render "droom/scraps/notices/body", notice: notice, body_limit: first ? 700 : 300