.content
  %p
    - if notice.url?
      - title = notice.name.presence || notice.url_without_protocol.html_safe
      = link_to title, notice.url_with_protocol, :class => "biglink"

  = render "droom/scraps/notices/body", notice: notice, omit_body: true