<!DOCTYPE html>
<html>
<head>
  <title>Droom</title>
  <%= stylesheet_link_tag    "droom/application", :media => "all" %>
  <%= javascript_include_tag "droom/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
