=column($width: 48%, $margin: 2%)
  position: relative
  display: inline-block
  vertical-align: top
  width: $width
  margin-right: $margin
  input[type="text"], input[type="email"], input[type="date"], input[type="password"], textarea, select
    width: 100%
    box-sizing: border-box
  &:last-child, &.last
    margin-right: 0
  .subcol
    display: inline-block
    vertical-align: top
    width: 48%
    margin-right: 3.5%
    input[type="text"], input[type="email"], input[type="date"], input[type="password"], textarea, select
      width: 100%
      box-sizing: border-box
    &:last-child, &.last
      margin-right: 0


.onecol, .twocol, .threecol, .fourcol
  +clearfix
  margin: 1em 0
  &.flowed
    .col
      float: left
      margin-bottom: 0.75em
      &.right
        margin-right: 0
      .subcol
        font-size: 90%
  &.upset
    margin-top: -1em
  &.nospace
    margin-bottom: 0
  .stacked
    display: block
    margin-bottom: 19px
    &:last-child
      margin-bottom: 0
  h3+&
    margin-top: 0.25em

.onecol
  .col
    +column(100%, 0)

.twocol
  .col
    +column(49%, 2%)
  &.unequal
    .col:first-child, .col.first
      +column(24%, 2%)
    .col:last-child, .col.last
      +column(74%)
  &.reversed
    .col:first-child, .col.first
      +column(62%, 2%)
    .col:last-child, .col.last
      +column(36%)
  &.addendum
    .col:first-child, .col.first
      +column(calc(100% - 74px), 10px)
    .col:last-child, .col.last
      +column(64px)

.threecol
  .col
    +column(36%, 2%)
    &:first-child, &.first
      +column(24%, 2%)
  &.equal
    .col
      +column(31%, 2%)

.fourcol
  .col
    +column(23.5%, 2%)
