div.popup
  input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="time"], textarea, [contenteditable]:not([contenteditable=false]), 
    padding: 8px
    border: 1px solid $pale
    background-color: white
    font-size: 1.2em

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="time"], textarea, [contenteditable]:not([contenteditable=false])
  -webkit-appearance: none
  box-sizing: border-box
  outline: none
  padding: 8px
  border: 1px solid $pale
  font-size: 1.2rem
  &.strong
    font-weight: bold
  &.destination
    color: $blue
  &.empty
    color: $pale
  &[disabled]
    color: $pale
    background-color: #fff
    border-color: $verypale
    opacity: 0.75
  &.valid, &.invalid
    background:
      repeat: no-repeat
      image: image-url('droom/oknotok.png')
  &.valid
    background-position: right 3px
  &.invalid
    background-position: right -97px
  &::-webkit-input-placeholder
    color: $pale
    font-weight: lighter
  &::-moz-placeholder
    color: $pale
    font-weight: lighter
  &:-ms-input-placeholder
    color: $pale
    font-weight: lighter
  &.placeholder
    color: $pale
    font-weight: lighter
  &[data-placeholder]
    &:empty:before
      content: attr(data-placeholder)
      color: $pale
      text-transform: none
      font-weight: lighter

[contenteditable]:not([contenteditable=false])
  border: none


select
  position: relative
  -webkit-appearance: none
  -webkit-padding-end: 24px
  font-size: 1.2em
  border: 1px solid $pale
  padding: 7px 8px 9px 8px
  outline: none
  border-radius: 0
  border-bottom-right-radius: 12px
  background:
    color: white
    position: top 4px right 4px
    image: image-url('droom/symbols/select.svg')
    size: 16px
    repeat: no-repeat
  &:hover
    color: $hover
  &.small
    font-size: 0.9em
    -webkit-padding-end: 16px

input[type="submit"]
  +button($green)
  display: inline-block
  transition: width 0.5s ease-out, height 0.5s ease-out, font-size 0.5s ease-out, padding 0.5s ease-out
  &.unavailable
    background-color: $mid
    opacity: 0.5
    &:hover
      background-color: $mid
  &.submitted
    padding-left: 32px
    background:
      color: $verypale
      position: 3px 3px
      repeat: no-repeat
      image: image-url('droom/spinner.gif')
  &.positive
    +button($green, white)
  &.negative
    +button($red, white)
  &.large
    font-size: 1.5em
  &.next
    float: right
  &.disabled
    +buttonbg(white)
    color: $pale
    box-shadow: none

#margin
  input[type="text"], input[type="email"], input[type="password"]
    box-sizing: border-box
    font-size: 1rem
    padding: 8px
    width: 100%
  input[type="submit"]
    font-size: 1rem
    padding: 14px 8px 5px 20px

[contenteditable]:not([contenteditable=false])
  p:first-child, h2:first-child, h3:first-child, ul:first-child
    margin-top: 0
  p:last-child, h2:last-child, h3:last-child, ul:last-child
    margin-bottom: 0
  &.rte
    min-height: 4em

fieldset.disabled
  input[type="submit"]
    +button(white, $pale)

label
  &.required
    font-weight: bold
  &.important
    font-weight: bold
  &.disabled
    color: $pale
  &.inline
    display: inline-block
    vertical-align: top
    white-space: nowrap

.error
  color: $error
  font-weight: bold

span.erratic
  display: block
  overflow: hidden
  input[type="text"], input[type="password"], input[type="email"], select
    border-color: lighten($error, 40)
    color: $error
  .error_message
    color: $error
    display: block
    font-weight: bold
    a.closer
      display: block
      float: left
      width: 16px
      height: 16px
      margin-right: 2px
      +text-hidden
      background:
        image: image-url('crosses.png')
        color: transparent
        position: 3px -58px
        repeat: no-repeat

a.button
  +button
  &.edit
    +buttonbg($green, white)
  &.delete
    +buttonbg($red, white)

form.waiting
  input.submit
    background:
      color: $verypale

.field_with_errors
  input
    border-color: $error
    color: $error

textarea
  line-height: 1.5


// This is some very old layout from the early droom days
// and much in need of updating.

form
  p
    margin: 0 0 1em 0
  .columns
    position: relative
    width: 100%
    margin: 0.5em 0
    +clearfix
    .column
      position: relative
      overflow: hidden
      width: 48%
      float: left
      &:first-child
        margin-right: 4%
      input[type="text"], input[type="email"], input[type="password"], select, textarea
        width: 100%
      p:first-child
        margin-top: 0
      &.hidden
        display: none
  .fullwidth
    clear: left
    input[type="text"], input[type="email"], input[type="password"], select, textarea
      width: 97%
  p.admin
    float: right
    input[type="text"], input[type="email"], input[type="password"], select, textarea
      width: 90px
      margin-left: 6px
    &+.buttons
      width: 50%
      margin-top: 2em
  .buttons
    clear: left
    margin-top: 1em


form#login
  a.reminder
    padding: 2px
    line-height: 1.2
    float: right
    text-align: right
    font-size: 0.9rem
    color: $pale

form.faceter, form.droom_faceter
  width: 750px
  position: relative
  fieldset
    display: inline-block
    vertical-align: top
    margin-right: 10px
    clear: left
    select
      width: 140px
      &#year, &#award_year
        width: 80px
    input[type="text"], input[type="submit"], select
      display: inline-block
      float: left
      vertical-align: top
      margin: 0 10px 10px 0
      border-radius: 3px
      &:last-child
        margin-right: 0
    input[type="text"]
      width: 512px
    &:last-child
      margin-right: 0
  a.select
    position: absolute
    display: block
    color: $pale
    +hover
    top: 48px
    left: 540px
  p.options
    margin: 0 0 2em 0
    font-size: 0.95rem
    color: $mid
    a
      color: $pale
      cursor: pointer
      +hover
      margin: 0 0.25em
      &.here
        color: $mid
        pointer-events: none
    span.option_set
      margin-right: 1.2em
  p.action
    margin: 0
  .padded
    display: inline-block
    padding: 10px
  p.reports
    float: right
    margin-top: -1.5em
    margin-right: 28px
  p#message_report
    color: $green
    display: none
    a
      color: $green
      +hover
      font-weight: bold

  fieldset.selecter
    position: relative
    display: inline-block
    z-index: 500
    width: 180px
    transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out
    &.pinned
      box-shadow: 0 2px 5px $shadow
      background-color: rgba(255,255,255,0.9)
      padding-top: 24px
      margin-top: -24px
      padding-left: 40px
      margin-left: -40px
      padding-bottom: 10px
      border-bottom-right-radius: 5px
      border-bottom-left-radius: 5px
    .selection, .action, .caption
      display: inline-block
      vertical-align: top
    .action
      a
        +button($green)
        padding: 6px
        font-size: 0.9rem
        display: inline-block
        vertical-align: top
        float: left
      a.message
        width: 100px
        border-bottom-left-radius: 5px
        border-top-left-radius: 5px
      a.show_other_actions
        width: 20px
        margin-left: 1px
        border-bottom-right-radius: 5px
        border-top-right-radius: 5px

    .caption
      span.note
        display: block
        padding: 10px 0 0 6px


input:required, div.rte.required
  background:
    image: image-url("droom/required.png")
    position: top right
    size: 20px
    repeat: no-repeat



@media (max-width: 700px)
  form
    p.admin
      float: none
      margin: 1em 0
      input[type="text"], input[type="email"], input[type="password"], select, textarea
        width: 100%
        margin-left: 0
      &+.buttons
        width: 100%
        margin-top: 2em
