div.menu
  position: absolute
  z-index: 50
  max-height: 0
  overflow: auto
  transition: max-height 0.25s ease-out, box-shadow 0.25s ease-out;
  background-color: $admin
  &.up
    box-shadow: 0 4px 6px $shadow
    max-height: 140px
  ul.actions
    padding: 0
    margin: 8px 10px 3px 5px
    list-style: none
    font-size: 14px
    li
      a
        color: white !important
        min-height: 16px
        &.add
          +menu_link("droom/menu/smalladd.png")
        &.edit
          +menu_link("droom/menu/smalledit.png")
        &.delete
          +menu_link("droom/menu/smalldelete.png")
        &.download
          +menu_link("droom/menu/smalldownload.png")
        &.send
          +menu_link("droom/menu/smalledit.png")

a.menu
  display: inline-block
  visibility: hidden
  text-indent: 26px
  height: 20px
  width: 26px
  padding-top: 3px
  overflow: hidden
  opacity: 0.4
  transition: opacity 0.25s ease-out, box-shadow 0.25s ease-out;
  background:
    color: transparent
    position: 0 0
    repeat: no-repeat
    image: image-url('droom/menu/asterisk.png')
  &:hover
    background-position: 0 -48px
    opacity: 1
  &:active
    background-position: 0 0
    opacity: 1
  &.up
    box-shadow: 0 4px 6px $shadow
    opacity: 1
    visibility: visible
    background:
      position: 0 -144px
      color: $admin
  &.small
    background-image: image-url('droom/menu/smallasterisk.png')
    width: 20px
    height: 18px
  *:hover > &
    visibility: visible
