.darken
  position: absolute
  width: 100%
  height: 100%
  left: 0
  bottom: 0
  max-height: 100%
  pointer-events: none
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.3) 35%, rgba(0,0,0,0) 95%)
  &.darker
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0) 40%)


#page_masthead
  position: relative
  width: 100%
  padding-bottom: 50%
  .bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background:
      color: $pale
      position: center center
      repeat: no-repeat
      size: cover
  .fg
    position: absolute
    bottom: 18px
    left: 36px
    width: calc(100% - 64px)
    #pagetitle
      margin: 0 auto
    h1.title
      font-size: 2em
      color: white
      margin: 0
    p.subtitle
      font-size: 1rem
      color: white
      margin: 0.5em 0

#page_title
  h1
    font-size: 2em
    margin: 36px 36px 0 36px

#page_content
  padding: 18px 36px
  min-height: 500px
  background-color: white
  p:first-child
    font-size: 1.25em
    line-height: 1.5
  figure
    margin: 24px -36px
    video
      width: 100%
      height: auto
      background-color: $pale
    .embed
      position: relative
      width: 100%
      padding-bottom: 56.25%
      overflow: hidden
      &:empty
        display: none
      iframe
        position: absolute
        width: 100%
        height: 100%
    figcaption
      color: $dark
      font-style: italic
      text-align: center
      margin: 5px 20%
    a.save
      float: right
      +button($green)
      font-size: 0.9rem
      display: none
    &.quote
      blockquote
        transition: font-size 0.5s ease-out
      &.shortish
        blockquote
          font-size: 1.2em
          line-height: 1.4
      &.short
        blockquote
          font-size: 1.6em
          line-height: 1.3
      &.veryshort
        blockquote
          font-size: 2em
          line-height: 1.2
    &.right
      display: inline-block
      float: right
      width: 50%
      margin: 6px -20px 24px 24px
      &.quote
        margin: 6px 24px 24px 0
      .styler
        float: left
        clear: left
    &.left
      display: inline-block
      float: left
      width: 50%
      margin: 6px 24px 24px -20px
      &.quote
        margin: 6px 24px 24px 0
      .styler
        float: left
        clear: left
    &.full
      display: block
      clear: both
      margin: 1.5em -36px
      &.quote
        margin: 1.5em 0
        blockquote, figcaption
          width: 80%
          margin-left: 10%
          text-align: left
    img
      width: 100%
      height: auto
    blockquote
      color: $mid
      margin: 0
      &:before
        content: '“'
        font-size: 120%
        position: absolute
        width: 0.5em
        text-align: right
        margin-left: -0.55em
        margin-top: -0.1em
      &:after
        content: '”'
        font-size: 120%
        position: absolute
        margin-left: 0
        margin-top: -0.1em
  
  
#page_form
  display: block

  aside#instructions
    width: 28%
    float: right
    margin: 0 2% 3em 2%
    p:first-child
      margin-top: 0
    ul
      list-style: none
      padding: 0
      a
        cursor: pointer
        color: $green
        +hover
      a.missing, a.new
        color: $red
        +hover
        span
          width: calc(100% - 50px)

  section#editor
    width: 66%
    margin: 0
    background-color: white
    margin-bottom: 3em

    #page_editor
      box-sizing: border-box
      position: relative
      width: 100%
      border: 1px solid $pale
      box-shadow: 0 1px 6px $shadow

    .content
      width: 100%
      min-height: 400px
      padding-bottom: 96px
      display: none
      figure
        margin: 24px -20px
        video
          width: 100%
          height: auto
          background-color: $pale
        .embed
          position: relative
          width: 100%
          padding-bottom: 56.25%
          overflow: hidden
          &:empty
            display: none
          iframe
            position: absolute
            width: 100%
            height: 100%
        figcaption
          color: $dark
          font-style: italic
        a.save
          float: right
          +button($green)
          font-size: 0.9rem
          display: none
        &.quote
          blockquote
            transition: font-size 0.5s ease-out
          &.shortish
            blockquote
              font-size: 1.2em
              line-height: 1.4
          &.short
            blockquote
              font-size: 1.6em
              line-height: 1.3
          &.veryshort
            blockquote
              font-size: 2em
              line-height: 1.2
        &.right
          display: inline-block
          float: right
          width: 50%
          margin: 6px -20px 24px 24px
          &.quote
            margin: 6px 24px 24px 0
          .styler
            float: left
            clear: left
        &.left
          display: inline-block
          float: left
          width: 50%
          margin: 6px 24px 24px -20px
          &.quote
            margin: 6px 24px 24px 0
          .styler
            float: left
            clear: left
        &.full
          display: block
          clear: both
          margin: 1.5em -20px
          width: calc(100% + 40px)
          &.quote
            margin: 1.5em 0
            blockquote, figcaption
              margin-left: 10%
              text-align: left
        img
          width: 100%
          height: auto
        blockquote
          color: $mid
          margin: 0
          &:before
            content: '“'
            font-size: 120%
            position: absolute
            width: 0.5em
            text-align: right
            margin-left: -0.55em
            margin-top: -0.1em
          &:after
            content: '”'
            font-size: 120%
            position: absolute
            margin-left: 0
            margin-top: -0.1em

