p.manage_password
  span.col
    +column(230px)
    label
      display: block
    &.password_quality
      +column(38px)
      span.meter
        width: 36px
        height: 36px
        border: 1px solid $verypale
      &.acceptable
        span.meter
          &:after
            left: 12px

  .confirmation
    opacity: 0.25
    transition: opacity 0.25s ease-out
    pointer-events: none
    &.available
      opacity: 1
      pointer-events: auto

p.set_password
  +clearfix
  span.col
    +column(320px, 20px)
  span.col.button
    +column(200px)
    input[type="submit"]
      padding: 10px 14px

.password_quality
  color: $red
  width: auto
  span.meter
    background-color: transparent
    svg
      width: 24px
      height: 24px
      color: white
      margin: 4px
    svg.ok
      display: none
    svg.notok
      display: block
  &.s0
    color: $red
    span.meter
      background-color: $red
  &.s1
    color: orange
    span.meter
      background-color: orange
  &.s2
    color: #c7d434
    span.meter
      background-color: #c7d434
  &.s3
    color: #8dc63d
    span.meter
      background-color: #8dc63d
  &.s4
    color: $green
    span.meter
      background-color: $green
  &.acceptable
    span.meter
      svg.ok
        display: block
      svg.notok
        display: none

  span.instructions
    display: inline-block
    vertical-align: middle

  span.meter
    display: inline-block
    vertical-align: middle
    width: 32px
    height: 32px
    margin-left: 4px
    margin-top: 4px
    border-radius: 16px
    transition: background-color 0.25s ease-out

  span.notes
    display: none

  &.floating
    position: absolute
    right: 20px
    margin: -8px 0 0 0
    font-size: 0.9rem
    span.meter
      position: absolute
      display: block
      top: 27px
      right: 20px
    span.instructions
      display: block
      float: right

  &:not(.floating)
    &.acceptable
      visibility: hidden

@media (max-width: 700px)
  p.manage_password
    span.col
      display: block
      width: 100%
      margin-bottom: 0.5em
