.tagger
  margin: 16px 0
  overflow: hidden
  input.tags
    margin: 0
    outline: none
    overflow: hidden
    width: 100%
    +clearfix
  a.add_tag
    +button($blue)
  &.waiting
    opacity: 0.25
    a.add
      color: $pale
