section.join_organisation
  margin-bottom: 4em

#account
  position: relative
  clear: both
  width: 400px
  margin: 100px
  h1.pagetitle
    font-size: 2rem
    margin: 10px 0
    &.success
      color: $green
    svg.icon
      display: block
      float: left
      width: 32px
      height: 32px
      margin: 4px 8px 0 -40px
      & + span.label
        margin-left: 0
  label
    font-size: 1.1em
    &.minor
      font-size: 0.9em
  input[type="text"], input[type="password"], input[type="email"]
    width: 100%
    &.login
      font-size: 1rem
      padding: 1rem
      margin-bottom: 1rem
      border: none
      border-bottom: 1px solid $pale
      text-align: center
    &.preferences
      font-size: 2em
    &.ok
      border-color: $green
    &.notok
      border-color: $error
  p.confirmation
    display: none
  a.reminder
    +pale
    +hover
    display: block
    margin: 1em 0

ul.users
  margin: 0
  padding: 0
  list-style: none
  display: flex
  li
    display: inline-block
    margin-right: 2em
    a
      color: $dark
      +hover
    a.add
      color: $green
      +hover
    &:last-child
      margin-right: 0
    svg.prefix
      vertical-align: top
      margin-top: 0.2em
    span.label
      white-space: nowrap
    span.contact
      display: block
      a.email
        color: $pale
        +hover

form.user
  max-width: 900px
  h3
    margin: 1em 0 0.5em 0
    & + p
      margin-top: 0.25em
  .contacts
    margin-top: 10px
    input[type="text"], input[type="email"]
      width: 100%
      box-sizing: border-box
    textarea
      width: 100%
      box-sizing: border-box
      height: 96px
    p.email
      width: 442px
    p.phone, p.mobile
      float: left
      width: 188px
      margin-right: 10px
      &:last-child
        margin-right: 0
  p.memberships
    label.inline
      margin-right: 10px

  .image-upload
    width: 86px
    height: 86px
    margin-right: 10px
    float: left
    background:
      color: white
      position: center center
      size: contain
      image: image_url('droom/missing/user.png')

  div.description
    position: relative
    display: block
    float: left
    width: calc(100% - 96px)
    +clearfix
    padding-bottom: 1em
    textarea
      width: 100%
    div.rte
      min-height: 86px
  div.address_book
    clear: both
    margin-top: 24px
  .user, .buttons
    clear: left

  .description
    textarea
      height: 150px
      font-size: 1em

  p.gender, p.status, p.confirmation
    float: left
    margin-right: 25px

  p.memberships
    clear: left


table.users
  font-weight: lighter
  width: 100%
  a
    +inverted
  a.group
    font-weight: bold
  a.and_more
    font-size: 0.75em
    color: $pale
    +hover
  a.admin
    display: none
    margin-left: 0.25em
    &.edit
      color: $blue
      +hover
    &.remove
      color: $red
      +hover
  tbody.user
    td
      padding: 0 8px
      vertical-align: top
    td:first-child
      padding-left: 0
    td:last-child
      padding-right: 0
    td.organisation
      padding-left: 0
      a
        color: $pale
        +hover
    td.address
      color: $pale
    td.name
      font-weight: bold
      svg
        width: 0.9em
        height: 0.9em
    td.email, td.phone
      white-space: nowrap
    td.phone
      text-align: right
    tr:first-child
      td
        border-top: 1px solid $pale
        padding-top: 12px;
    tr:last-child
      td
        padding-bottom: 12px;
    &:hover
      a.admin
        display: inline-block


@media (max-width: 700px)
  #account
    width: 90%
    margin: 40px auto

