- listing ||= nil
- enquiry ||= listing || @enquiry

%li.enquiry
  = link_to shorten(enquiry.message, 200), droom.enquiry_url(enquiry), class: "message"
  %br
  %span.enquirer
    from
    = mail_to enquiry.email, enquiry.name, class: 'email'
    = time_ago_in_words(enquiry.created_at) + ' ' + t(:ago)