- listed ||= nil
- page ||= listed  || @page
- cssclass = "page holder"
- if page.public? ? " public" : " private"
  - cssclass << " public"
- else
  - cssclass << " private"
- if page.published?
  - cssclass << " published"

%div{class: cssclass, id: "page_#{page.id}", data: {refreshable: true, url: droom.page_path(page, view: "listed")} }
  .heading
    %h2.name<
      = link_to page.title, edit_page_url(page), :class => "name"

  - if page.content?
    %p.preview
      = shorten(strip_tags(page.content), :length => 64)
