#email.panel{:data => {:panel => 'email'}}
  %a.close
    %svg
      %use{"xlink:href" => "#big_x_symbol"}
  %p
    = t :mailchimp_explanation

  = form_for [droom, current_user], :format => :js, :html => {class: "preferences", data: {role: "preferences"}} do |f|
    %p.news.controls
      = preference_checkbox 'mailchimp', child_index: 0

