#search.panel.sticky
  .content
    - if request.path == main_app.dashboard_path
      %p.instructions
        = t :search_instructions
    %form#searchform.searchtest{:action => droom.suggestions_url(:format => :js)}
      = text_field_tag :term, params[:term], :placeholder => t(:quick_search), :autocomplete => "off"
    .search_results