.panel{:data => {:panel => 'search'}}
  %a.close
    %svg
      %use{"xlink:href" => "#big_x_symbol"}

  %form#suggestions{:action => droom.suggestions_url}
    %p
      %label{:for => 'term'}
        = t :quick_search
      = text_field_tag :term, params[:term], :placeholder => t(:quick_search_prompt), :autocomplete => "off", :autofocus => true

  #suggestion_box
    %p
      Search results will include people, documents, events and any other items we can find that match your query.