- dashboard = request.path == main_app.dashboard_path
- cssclass = dashboard ? "panel sticky" : "panel"
#search{:class => cssclass}
  - if dashboard
    %p.instructions
      = t :search_instructions
  %form#searchform.searchtest{:action => droom.suggestions_url(:format => :js)}
    %p
      - unless dashboard
        %label
          = t :quick_search
          %br
      = text_field_tag :term, params[:term], :placeholder => t(:quick_search_prompt), :autocomplete => "off"
    %p.formnote
      = link_to t(:advanced_search_link), droom.search_url, :class => "search"
      
  .search_results