.panel{:data => {:panel => 'search'}}

  %form#suggestions{:action => droom.suggestions_url}
    %p
      %label{:for => 'term'}
        = t :quick_search
      = text_field_tag :term, params[:term], :placeholder => t(:quick_search_prompt), :autocomplete => "off", :autofocus => true

  #suggestion_box