%h1.pagetitle
  =t :choose_new_password

%p
  = t :password_reset_welcome

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "user reset" }) do |f|
  = f.hidden_field :reset_password_token
  
  = render "droom/users/edit/password_fields", f: f, user: resource, with_submit: true
