%h1.pagetitle
  =t :expired_token
%br/

%h4
  = t(:want_to_reset_again)

%br
= link_to 'Yes', new_password_path(resource_name), style: "background-color: #74b87a; border: none; color: white; padding: 9px 27px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;"
= link_to 'No', root_url, style: "background-color: #f44336; border: none; color: white; padding: 9px 27px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;"