- cssclass = "email "
- cssclass << email.address_type.slug if email.address_type

%li{class: cssclass}
  %span.contact
    = mail_to email.email, truncate(email.email, length: 56)
  - if email.address_type
    %span.contact_type
      = email.address_type.name
  