- signin_page = Droom::Page.find_by(slug: "signin")

- content_for(:pagetitle) do
  =t :please_sign_in


- if signin_page && signin_page.content?
  - content_for(:pagetitle) do
    = signin_page.title

  .welcome
    = render "droom/pages/page", page: signin_page


- else
  - content_for(:pagetitle) do
    =t :please_sign_in

  #account
    %h1.pagetitle
      =t :please_sign_in

    = render partial: 'devise/sessions/login_form'