- content_for(:pagetitle) do
  Login Error

#account
  #error
    %h1
      Hello
      = current_user.name
    %p
      %a{href: droom.dashboard_url}
        Welcome back. Please click here to continue to the data room.
      Your email login link will only work once so you can discard that message now.
