- group ||= @group
- users = @users || Droom::User.in_group(group).page(1)

.scroller
  .paginated
    %ul.people
      = render partial: "droom/users/show/listed", collection: users
    .pagination.sliding
      = paginate users