- group ||= @group
- users ||= @users

.paginated
  %ul.people
    = render partial: "droom/users/show/listed", collection: users, locals: {group: group}
  .pagination.sliding<
    = paginate(users, params: {controller: 'groups', action: "show", id: group.id, format: :js})