- content_for :title do
  = t :group_admin

#groups
  - if current_user.admin?
    .holder
      %p.admin
        = link_to t(:add_group), droom.new_group_url, :class => "add", :remote => true, :data => {:action => "popup", :type => "html", :affected => "table.groups"}

  = render :partial => 'groups'
