- venue ||= search_result
- result = venue[:result]
- hit = venue[:hit]
%li.venue
  = link_to result.name, venue_url(result)
  %span.description
    - hit.highlights.each do |highlight|
      - description = highlight.format{|word| "<b>#{word}</b>"}
      = description.html_safe
