- person ||= suggested

%li.person
  = link_to person.formal_name, person_url(person), :data => {:action => "popup"}
  %span.note
    - if person.phone? || person.email?
      - if person.phone?
        = person.phone
      - if person.phone? && person.email?
        %br
      - if person.email?
        = mail_to person.email
    - else
      = t :contact_information_unavailable
