#people

  %p
    This will be a searchable list of all the people in the system. They need not be confined to users of the system. 
    Its main purpose is to provide quick access to contact information, but for group members (such as the Trustees)
    it will also provide a look at the rest of their group.

