#people
  - if current_user.admin?
    %p.admin
      = link_to t(:add_person), droom.new_person_url, :class => "add", :remote => true, :data => {:action => "append_form", :type => "html", :affected => "table.people"}

  = render :partial => "people"