= link_to truncate(scrap.note, :length => 40), scrap.note, :class => "icon link scrap"
%p.caption
  = link_to scrap.name, scrap.note
  - if scrap.body?
    = shorten(scrap.body, :length => 128 - scrap.note.length)
  = render :partial => "droom/scraps/credit", :locals => {:scrap => scrap}
