= link_to truncate(scrap.note, :length => 32), scrap.note, :class => "icon link scrap"
%p.caption
  = link_to truncate(scrap.note, :length => 32), scrap.note, :class => "main", :title => scrap.note
  - if scrap.body?
    %br
    = shorten(scrap.body, :length => 240)
  = render :partial => "droom/scraps/credit", :locals => {:scrap => scrap}
