= link_to truncate(scrap.note, :length => 40), scrap.note, :class => "icon link scrap"
%p.caption
  = link_to truncate(scrap.note, :length => 40), scrap.note
  - if scrap.body?
    %br
    = shorten(scrap.body, :length => 192)
  = render :partial => "droom/scraps/credit", :locals => {:scrap => scrap}
