- heading = scrap.name? ? scrap.name : scrap.note

= link_to "video:", droom.scrap_url(scrap), :class => "thumb playable", :style =>"background-image: url('#{scrap.image.url(:icon)}')", :data => {:action => "scrapup"}
%p.caption
  = link_to shorten(heading), droom.scrap_url(scrap), :class => "scrap", :data => {:action => "scrapup"}
  = render :partial => "droom/scraps/credit", :locals => {:scrap => scrap}
