- organisation ||= @organisation

- if admin?
  %section.status
    - if organisation.approved?
      %h2.stamp.success
        %svg.prefix
          %use{"xlink:href" => "#tick_symbol"}
        %span.label.message
          Approved
        - if user = organisation.approved_by
          %span.notes
            by
            = user.name

    - elsif organisation.disapproved?
      %h2.stamp.warning
        %svg.prefix
          %use{"xlink:href" => "#tick_symbol"}
        %span.label.message
          Rejected
        - if user = organisation.disapproved_by
          %span.notes
            by
            = user.name

    - else
      Click to:
      %br
      = link_to "Approve", droom.approve_organisation_url(@organisation), class: "button approve"
      or
      = link_to "Reject", droom.disapprove_organisation_url(@organisation), class: "button reject"
