- organisation ||= @organisation

%section.personnel{data: {refreshing: droom.organisation_url(organisation, view: 'users')}}
  - if organisation.users.any?
    %ul.users{data: {step: 1, intro: "These are all the people who are allowed to sign in and act on behalf of your organisation."}}

      = render :partial => "droom/users/show/link", :collection => organisation.users.in_name_order

      - if Droom.users_can_invite? && current_user.organisation_admin?
        %li.user
          = link_to droom.new_organisation_user_url(organisation.id, view: 'simple'), class: "add", data: {action: "popup", affected: "section.personnel", step: 2, intro: "Click here to invite another person."} do
            %svg.prefix
              %use{href: "/lms-sprites.svg#sprite-user"}
            %span.label
              %span.name
                Invite someone
              %span.contact
                to join you
