- event ||= @event
- folder ||= event.folder

.col.attachments
  - if folder.populated?
    %h3
      = t :attachments
    = render :partial => "droom/folders/contents", :locals => {:folder => folder, :narrow => false}
