- events ||= @events

#events{:data => {:refreshable => true, :url => droom.events_url(:js)}}
  - if events.any?
    = render :partial => 'droom/events/event', :collection => events
  - else
    %p.nothing
      = t :no_events

= paginate @events
