- event ||= @event

.col
  - if event.invitations.any?
    %h3
      = t :invitations
    %ul.people{ :"data-url" => "#{event_invitations_path(event)}.js", :"data-refreshable" => true}
      - event.invitations.each do |invitation|
        = render :partial => "droom/users/show/listed", :object => invitation.user, :locals => {:invitation => invitation}
