- event ||= @event
%ul.people{ :"data-url" => "#{event_invitations_path(event)}.js", :"data-refreshable" => true}
  - event.invitations.each do |invitation|
    = render :partial => "droom/users/user", :object => invitation.user, :locals => {:invitation => invitation}

