- events ||= @events

#minor_events{:data => {:refreshable => true, :url => droom.calendar_url(calendar)}}
  - if events.any
    = render :partial => "droom/events/minimal", :collection => events

  - else
    %p.note
      = t :no_external_events
