- event ||= search_result
- result = event[:result]
- hit = event[:hit]
%li.event
  = link_to result.name, event_url(result)
  %span.description
    - hit.highlights(:description).each do |highlight|
      - description = highlight.format{|word| "<b>#{word}</b>"}
      = description.html_safe
