- if params[:day]
  - date = Time.zone.local(params[:year].to_i, params[:month].to_i, params[:mday].to_i)
- elsif params[:month]
  - date = Time.zone.local(params[:year].to_i, params[:month].to_i, 1)
- else
  - date ||= Time.zone.now

= render "calendar", date: date