#main.events
  = render :partial => 'events'


- content_for :title do
  = t :calendar

- content_for :margin do
  / %h2.quiet
  /   = t :invitations
  / %p
  /   = t :invitation_preamble

- content_for :filter do
  = render :partial => 'droom/shared/calendar_holder'
  