- content_for :title do
  = link_to t(:calendar), droom.events_url

- content_for :margin do
  %h3
    Other events of this type

  = render :partial => 'droom/events/minimal', collection: Droom::Event.of_type(@event.event_type).other_than(@event).by_date_descending
  

- content_for :standfirst do
  %p
    = t :event_introduction

= render :partial => 'droom/events/event', :object => @event, :locals => {:full_attachments => true}
