- fields ||= nil
- fields_counter ||= nil
- address ||= fields || @address
- user = @user || current_user

= fields_for user do |uf|
  = uf.fields_for :addresses, address, :child_index => fields_counter || 'field_counter' do |f|

    %fieldset.repeating
      %p.twocol.reversed
        %span.col>
          = f.text_area :address, :placeholder => t("placeholders.address.address"), disabled: true
        %span.col.last>
          = f.select :address_type_id, Droom::AddressType.for_selection(:address),{},{disabled: true}
