- user ||= @user
- user.addresses.build(address_type: Droom::AddressType.default) unless user.addresses.any?

#address_fields.nested_set
  = render :partial => 'droom/users/preview/addresses_fields', :collection => user.addresses