#main.permissions
  = render :partial => "services"

- content_for :title do 
  = t :access_control

- content_for :standfirst do 
  %p
    Use this view to define ad-hoc 'services' and the permissions they might consult.

