$datemark_width: 50px
$datemark_margin: 8px

=icon($url)
  display: inline-block
  text-indent: 34px
  height: 32px
  width: 32px
  line-height: 32px
  overflow: hidden
  background:
    color: transparent
    position: 0 0
    repeat: no-repeat
    image: image-url($url)
  &:hover
    background-position: 0 -32px
  
=smallicon($url)
  display: inline-block
  text-indent: 25px
  height: 16px
  width: 16px
  line-height: 16px
  overflow: hidden
  margin: 0 0 18px -8px
  background:
    color: transparent
    position: 0 0
    repeat: no-repeat
    image: image-url($url)
  &:hover
    background-position: 0 -16px
  
=icon_with_text($url)
  display: inline-block
  text-indent: 26px
  margin-top: 0
  line-height: 30px
  min-height: 30px
  background:
    color: transparent
    position: 0 0
    repeat: no-repeat
    image: image-url($url)
  &:hover
    background-position: 0 -48px

=hover
  &:hover
    color: $hover
  

a.download
  +icon('droom/download.png')
  
a.ical
  +smallicon('droom/ical.png')

div
  // border: 1px dotted green

.event
  position: relative
  margin-left: - $datemark_width - $datemark_margin
  margin-bottom: 20px
  .datemark
    float: left
    width: $datemark_width
    margin-right: $datemark_margin
    text-align: right
    color: $mid
    line-height: 3em
    padding-top: 6px
    span
      display: block
      line-height: 1
      text-align: center
    span.mon
      +light
      text-transform: uppercase
      font-size: 1em
    span.dom
      +bold
      font-size: 2em
      letter-spacing: -0.1em
      margin-left: -4px
      margin-top: -2px
    span.year
      +light
      font-size: 1em
      margin-top: -2px
      
  .summary
    overflow: hidden
    h2.name
      +light
      font-size: 3em
      margin: 0
    p.practicalities
      margin: 0
      color: $mid
      time
        +bold
    p.description
      margin-top: 0
    div.documents
      float: right
      width: 150px
      margin-left: 20px
      h3
        a
          +icon_with_text('droom/download.png')
          color: $dark
          +hover

ul.downloads
  margin: 0
  padding: 0
  list-style: none
  li
    a.document
      display: block
      padding: 8px 0 0 28px
      min-height: 22px
      line-height: 22px
      background: 
        repeat: no-repeat
        position: 0 0
        image: image-url('droom/icons.png')
      &.pdf
        background-position: 0 -48px
      &.doc, &.docx
        background-position: 0 -96px
        color: #1683ab
        +hover
      &.xls, &.xlsx
        background-position: 0 -144px
        color: #369620
        +hover

div.document
  position: relative
  margin-left: - $datemark_width - $datemark_margin
  margin-bottom: 20px
  h2.name
    +light
    font-size: 2.5em
    margin: 0
    a
      display: block
      min-height: 50px
      padding-left: $datemark_width + $datemark_margin
      background:
        position: 0 -10px
        repeat: no-repeat
        image: image-url('droom/medium_icons.png')
      &.pdf
        background-position: 0 -110px
      &.doc, &.docx
        background-position: 0 -210px
      &.xls, &.xlsx
        background-position: 0 -310px
  p.attachment
    margin: 0
    margin-left: $datemark_width + $datemark_margin
    color: $mid
    
  p.description
    margin-top: 0
    margin-left: $datemark_width + $datemark_margin
  
      
.eventline
  font-size: 80%
  h4
    margin: 0
  p
    margin-top: 0

p.twister
  &:first-child
    margin-top: 0
  a
    display: block
    padding-left: 18px
    background: 
      repeat: no-repeat
      position: 0 -62px
      image: image-url('droom/twister.png')
    &:hover
      background-position: 0 -94px
  &.closed
    a
      background-position:  0 2px
      &:hover
        background-position: 0 -30px









.pagination
  position: relative
  clear: left
  margin: 40px 0
  height: 40px
  span
    display: block
    float: left
    margin-right: 5px
    a
      display: block
      background-color: $pale
      color: $dark
      padding: 5px 10px
      min-width: 16px
      text-align: center
      &:hover
        background-color: $link
        color: white
      &:visited
        color: $dark
    &.current
      +bold
      background-color: $verypale
      color: $mid
      padding: 5px 10px
      min-width: 16px
      text-align: center
    &.gap
      border: 1px solid white
      padding: 5px 10px
      min-width: 16px
      text-align: center
      color: $dark
  
    




span.erratic
  display: block
  overflow: hidden
  input[type="text"], input[type="password"], input[type="email"], select
    border-color: lighten($error, 40)
    color: $error
    &.empty
      color: lighten($error, 40)
  .error_message
    color: $error
    display: block
    +bold
    a.closer
      display: block
      float: left
      width: 16px
      height: 16px
      margin-right: 2px
      +text-hidden
      background: 
        image: image-url('crosses.png')
        color: transparent
        position: 3px -58px
        repeat: no-repeat


a.add
  padding-left: 16px
  color: $blue
  background:
    image: image-url('plus_bullet.png')
    position: 0 3px
    repeat: no-repeat
    scroll: scroll
  &:hover
    background-position: 0 -45px
    color: $hover
  &:active
    background-position: 0 -91px
    color: $active
  &.waiting
    color: $pale
    background-image: image-url('smallspinner.gif')
