@import droom/definitions

@keyframes confirmation
  10%
    background-color: $lightgreen
  100%
    background-color: $page

@keyframes complaint
  10%
    background-color: $red
  100%
    background-color: $page


p.quitelarge
  font-size: 1.4em

p.large
  font-size: 1.6em

p.nothing
  color: $mid
  margin-bottom: 2em

.warning
  color: $reddish

.success
  color: $green
  
a.select
  position: absolute
  display: block
  color: $pale
  +hover
  top: 48px
  left: 540px

a.confirmed
  color: $green
  animation-name: confirmation
  animation-duration: 2s
  animation-timing-function: ease-in-out

a.erratic
  color: $red
  animation-name: complaint
  animation-duration: 2s
  animation-timing-function: ease-in-out

a.reinvite
  color: $blue
  &.confirmed
    color: $green

a.waiting
  color: $mid
  padding-left: 23px
  background:
    image: image-url('droom/spinner.gif')
    position: 1px 4px
    repeat: no-repeat
  svg
    display: none

a.approve
  color: $green
  +hover

a.disapprove
  color: $reddish
  +hover

input:required
  background:
    image: image-url("droom/required.png")
    position: top right
    size: 20px
    repeat: no-repeat

label
  &.required
    font-weight: normal
  &.important
    font-weight: bold
  &.disabled
    color: $pale
  &.inline
    display: inline-block
    vertical-align: top
    white-space: nowrap

a.cancel, a.cancel:visited
  +pale
  +hover

a.external
  color: $mid

a.toggle
  +icon_link("droom/toggle.png")
  color: $blue
  &:hover
    color: $hover
  &.showing
    background-position: 0 -64px
    &:hover
      color: $hover
      background-position: 0 -96px

a.setter
  +icon_link("droom/setter.png")
  &.yes
    color: $green
    background-position: 0 0
    &:hover
      background-position: 0 -32px
  &.no
    color: $pale
    background-position: 0 -64px
    &:hover
      background-position: 0 -96px
  &:hover
    color: $hover
  +waitable


.unavailable
  +small
  +pale

.suffix
  clear: left

a.autofetch
  display: inline-block
  &.waiting
    margin-left: -20px
    padding-left: 20px
    min-height: 30px
    line-height: 20px
    color: $mid
    background:
      color: transparent
      position: 0 0
      repeat: no-repeat
      image: image-url('droom/spinner.gif')

*
  > span.admin
    display: none
    font-size: 0.9em
  &:hover
    > span.admin
      display: inline-block

p.stretcher
  clear: left
  height: 1px
  overflow: hidden

.datemark
  +outset
  text-align: right
  color: $mid
  padding-top: 5px
  a, a:visited
    color: $mid
  span
    display: block
    text-align: center
  span.mon
    text-transform: uppercase
    font-size: 1em
    line-height: 1
  span.dom
    font-size: 2em
    font-weight: bold
    line-height: 1
  span.year
    font-size: 1em
    line-height: 1
  &.editing
    a, a:visited
      color: $dark

.relations
  position: relative

#help_pages
  h2
    margin-bottom: 0
  p
    margin-top: 0.1em

#help_page
  position: relative
  margin-left: 10px
  .controls
    width: 640px
    margin-left: 0
  .video
    width: 640px
    overflow: hidden
  .body
    width: 640px
    overflow: hidden
    *:first-child
      margin-top: 0
    ul
      padding-left: 14px
  img
    float: right
    margin: 10px 0 10px 20px

.contents
  h3
    margin-top: 0
  ul
    padding-left: 0
    list-style: none

.preview
  color: $mid

div.event, div.document, div.group
  position: relative
  clear: both
  margin-bottom: 10px
  &.quiet
    color: $pale
    a
      color: $pale

form.event, form.document
  position: relative
  margin-left: $datemark_width + $datemark_margin

div.event, form.event, div.project
  .summary
    .heading
      p.name
        margin: 0
      p.practicalities
        margin: 0
        margin-top: 0
        color: $mid
        span.admin
          margin-left: 20px
    p.visibility
      float: right
      margin: 10px 16px 0 10px
    .detail
      p
        margin-top: 0
  .col
    display: block
    width: 100%
    margin-right: 0

div.organisation
  position: relative
  p.actions
    float: right
    margin: 0
    & + h2
      width: 70%
  h2.name
    margin-bottom: 0
  p.description
    margin-top: 0.25em


#margin
  ul.invitations
    padding: 0
    margin-bottom: 2em
    margin-top: 0.25em
    li.invitation
      list-style: none
      text-indent: 20px
      margin-left: -20px
      background:
        repeat: no-repeat
        position: 0 0
        image: image-url('droom/acceptance.png')
      &.refused
        color: $mid
        text-decoration: line-through
        background-position: 0 -32px
        a
          color: $mid
      &.accepted
        background-position: 0 -64px
        a
          color: $green
      span.action
        display: inline-block
        margin: 0 0 0 10px
        text-indent: 0
        a.accept, a.refuse
          display: inline-block
          text-indent: 20px
          height: 16px
          width: 16px
          line-height: 16px
          overflow: hidden
          background:
            position: 0 0
            repeat: no-repeat
            image: image-url("droom/acceptance.png")
        a.accept
          background-position: 0 -162px
        a.refuse
          background-position: 0 -130px
        a.waiting
          background-image: image-url('droom/spinner.gif')
          background-position: 0 0
          a
            color: $pale
ul.enquiries
  padding-left: 0
  li.enquiry
    margin-bottom: 1em
    a.email
      color: $pale


form.invitation
  min-height: 200px
  input.name
    width: 470px
    font-size: 2em
  ul.groups
    padding-left: 4px
    list-style: none
    margin: 30px 0
    span.formnote
      padding-left: 24px

span.admin.documents
  margin-bottom: 0
  margin-top: 1.5em

.interjected
  margin: 10px 0

.users
  .person_picker
    font-size: 1.8em


form.event
  span.interlabel
    display: inline-block
    padding: 8px
  p.name
    margin: 0
  div.datemark
    border: none
    padding: 4px 0
    margin-top: 1px
    margin-left: -$datemark_width
    margin-right: $datemark_margin - 4px
  input.name
    width: 470px
    font-size: 1.5em
  p.practicalities
    margin: 10px 0
  input.timepicker
    width: 70px
    font-size: 1.2em
    padding: 4px
    &.start
      font-weight: bold
  input.venuepicker
    font-size: 1.2em
    width: 241px
    padding: 4px
  .description
    margin-top: 0.5em
    textarea
      width: 470px
      font-size: 1em
      height: 250px

form.event, form.user
  p.admin
    clear: both
    float: right
    margin: 16px 4px
    label
      display: inline-block
    select
      width: 120px
  .buttons
    margin: 10px 0
    float: left
  p.guidance
    clear: both

form.user
  select, textarea, iframe
    max-width: 757px
    box-sizing: border-box

form.folder
  input.name
    width: 480px
    font-size: 2em
  input.slug
    width: 480px
    color: $mid

form.document
  p.slug
    margin: 0
  .filepicker
    +outset(40px)
    margin-top: 5px
    input[type="file"]
      display: none
    p.tip
      font-size: 0.65em
      line-height: 1.1
      color: $pale
      margin: 0 5px
  p.name, p.description
    margin: 0
  input.name
    width: 480px
    font-size: 2em
  textarea
    width: 480px
    font-size: 1em
    height: 60px

form.organisation
  input.name
    width: 520px
    font-size: 2em
  input.url, textarea, select
    width: 520px

.image-upload
  position: relative
  width: 86px
  height: 86px
  margin-right: 10px
  float: left
  overflow: hidden
  a.remover
    display: block
    position: absolute
    top: 5px
    right: 3px
    width: 24px
    height: 24px
    background:
      position: 0 -646px
      image: image-url('droom/minisymbols.png')
  a.box
    display: block
    width: 84px
    height: 84px
    border: 1px solid $pale
    background:
      color: white
      position: center center
      repeat: no-repeat
      size: cover
  input[type="file"]
    position: absolute
    top: 200px
    left: 0

.youtube-search
  position: relative
  width: 132px
  height: 132px
  margin-right: 20px
  float: left
  a.remover
    display: block
    position: absolute
    top: 5px
    right: 3px
    width: 24px
    height: 24px
    background:
      position: 0 -646px
      image: image-url('droom/minisymbols.png')
  .thumbnail
    display: block
    width: 130px
    height: 73px
    border: 1px solid $pale
    background:
      color: white
      position: center center
      repeat: no-repeat
      size: cover
  input[type="text"]
    width: 120px
    padding: 5px
    margin: 20px 0 0 0


form.user
  .image-upload
    margin-top: 2px
  p
    margin: 0
    margin-bottom: 10px
  .hanging
    position: relative
    display: block
    float: left
    width: calc(100% - 100px)
    +clearfix
    p.names
      input[type="text"]
        width: 100%
        box-sizing: border-box
      span.title
        display: inline-block
        vertical-align: top
        width: calc(16% - 10px)
        margin-right: 10px
      span.name
        display: inline-block
        vertical-align: top
        width: calc(32% - 10px)
        margin-right: 10px
      span.chinese_name, span.honours
        display: inline-block
        vertical-align: top
        width: 20%
        margin-right: 0
  .contacts
    overflow: hidden
    margin-top: 10px
    input[type="text"], input[type="email"]
      width: 100%
      box-sizing: border-box
    textarea
      width: 100%
      box-sizing: border-box
      height: 96px
    p.email
      width: 442px
    p.phone, p.mobile
      float: left
      width: 188px
      margin-right: 10px
      &:last-child
        margin-right: 0
  p.organisation
    clear: left
    select
      font-size: 1em
  p.memberships
    label.inline
      margin-right: 10px
  div.description
    clear: left
    textarea
      width: 100%
  div.address_book
    clear: both
    margin-top: 24px
  .user, .buttons
    clear: left

  .description
    textarea
      height: 150px
      font-size: 1em

  p.gender, p.status, p.confirmation
    float: left
    margin-right: 25px

  p.admin
    float: right

  p.memberships
    clear: left

  .buttons
    position: relative
    clear: left
    margin-top: 0.5em

form.group, form.event_type, form.service, form.permission
  input[type="text"], textarea, select
    width: 520px
    font-size: 1em
  textarea
    height: 120px
  p.name
    margin: 0
    input[type="text"]
      font-size: 1.5em
      font-weight: bold
  p.admin
    float: right

p.manage_password
  span.col
    +column(230px)
    label:
      display: block
    &.password_quality
      +column(38px)
      span.meter
        width: 36px
        height: 36px
        border: 1px solid $verypale
      &.acceptable
        span.meter
          &:after
            left: 12px

p.set_password
  +clearfix
  span.col
    +column(320px, 20px)
  span.col.button
    +column(200px)
    input[type="submit"]
      padding: 10px 14px

.password_quality
  clear: left
  color: $red
  span.meter
    background-color: transparent
  &.s0
    color: $red
    span.meter
      background-color: $red
  &.s1
    color: orange
    span.meter
      background-color: orange
  &.s2
    color: #c7d434
    span.meter
      background-color: #c7d434
  &.s3
    color: #8dc63d
    span.meter
      background-color: #8dc63d
  &.s4
    color: $green
    span.meter
      background-color: $green
  &.acceptable
    span.meter
      &:after
        display: block
        content: "✓"
        color: white
        position: absolute
        top: 0
        left: 9px

  span.meter, span.instructions
    display: inline-block
    float: left
    vertical-align: top

  span.meter
    width: 24px
    height: 24px
    margin-right: 8px
    background-color: white
    border-radius: 50%
    position: relative

  span.instructions
    width: calc(99% - 40px)

  span.notes
    display: block
    clear: left
    color: $mid
    +small
    padding-left: 40px


h2.name
  font-size: 2em
  margin: 0

h2.quiet
  color: $pale

h2.stamp
  margin-top: 0
  span.message
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace
  span.notes
    font-size: 1rem
    color: $pale

a.dl, a.ul
  display: inline-block
  min-height: 40px
  padding-left: 44px
  background:
    position: 0 0
    repeat: no-repeat
    image: image-url('droom/small_icons.png')
  &.pdf
    background-position: 0 -100px
  &.doc, &.docx
    background-position: 0 -200px
    color: $msword
    +hover
  &.xls, &.xlsx
    background-position: 0 -300px
    color: $excel
    +hover
  &.minimal
    width: 40px
    height: 40px
    overflow: hidden

span.icon
  display: block
  float: left
  margin-top: 2px
  width: 16px
  height: 16px
  border: 4px solid white
  background-color: $pale
  box-shadow: 1px 2px 4px #333
  &.active
    background-color: $mid

span.hanging
  display: block
  overflow: hidden

li.person
  span.icon
    margin: 3px 10px 5px 5px

div.document
  margin-bottom: 32px
  h2.name
    font-size: 1.4em
    line-height: 1.2
  span.name
    display: block
    margin: 0.25em 0
  span.situation
    display: block
    font-size: 1rem
    color: $mid
    date
      margin-right: 10px
      color: $red
  p.description
    margin-left: 40px
    font-size: 1rem
    margin-top: 0
    span.details
      display: block
      margin-top: 0.25em
  p.attachment
    margin: 0
    color: $mid

ul.contacts
  list-style: none
  padding: 0
  margin: 0

table.main
  th
    text-align: left
    vertical-align: bottom
    a.sorter
      position: relative
      display: inline-block
      padding: 4px 20px 4px 0
      color: $pale
      background:
        position: right top
        repeat: no-repeat
        image: image-url('droom/tablesort.png')
      &:hover
        color: $link
        background-position: right -32px
      &.asc
        color: $dark
        background-position: right -96px
        &:hover
          color: $link
          background-position: right -64px
      &.desc
        color: $dark
        background-position: right -160px
        &:hover
          color: $link
          background-position: right -32px
  td, th
    vertical-align: top
    padding-right: 5px
    h3, p
      margin: 0
    p.note
      margin-top: 0
      margin-bottom: 5px
    &.minor
      max-width: 150px
  th:first-child
  td
    &.name
      font-weight: bold

    &.minor
      span
        display: block
        padding-top: 8px
    a.event
      display: block
      padding-top: 8px
      min-height: 22px
    a.vcard
      +icon_link("droom/vcard.png")

table.documents
  margin-bottom: 25px
  th
    white-space: nowrap
    &.name
      font-size: 120%
  td.admin
    min-width: 55px
  td.description
    p
      margin: 0 0 10px 28px
      +small
      color: $mid
  td.admin
    padding-right: 2px
    width: 24px
    a
      opacity: 0.5
      &:hover
        opacity: 1

table.people
  margin-bottom: 25px
  margin-top: -20px
  thead
    tr
      height: 30px
  th, td
    line-height: 32px
    white-space: nowrap
  th.name
    vertical-align: top
    width: 225px
    input.title
      width: 35px
    input.forename
      width: 80px
    input.name
      width: 160px
    input.forename
      width: 80px
      + input.surname
        width: 80px
    label
      +pale
  td.email, td.phone, td.address
    width: 160px
    input
      width: 150px
  th.group, th.admin
    max-width: 24px
    height: 30px
    padding-right: 2px
    .rotate
      transform: rotate(-75deg)
  th.admin
    color: $pale
  td.admin
    padding-right: 2px
    width: 24px
    a
      opacity: 0.5
      &:hover
        opacity: 1
  td.group
    padding-right: 2px
    width: 24px
    .holder
      a.toggle_active
        .a_member, .not_a_member
          height: 20px
          background: url('droom/minisymbols.png') no-repeat
        .a_member
          background-position: 0 -384px
          &:hover
            background-position: 0 -528px
        .not_a_member
          background-position: 0 -600px
          &:hover
            background-position: 0 -360px
  td.buttons
    width: 80px


table.toggles
  margin: 40px 0
  border-collapse: collapse
  tr.rotated
    td, th
      position: relative
      height: 90px
      width: 32px
      text-align: center
      a.menu
        visibility: hidden
      &:hover
        a.menu
          visibility: visible
      &.spacer, &.action
        width: auto
        text-align: left
    span.rotated
      display: inline-block
      position: absolute
      top: 90px
      left: 10px
      line-height: 1
      white-space: nowrap
      transform: rotate(-90deg)
      transform-origin: top left
  th
    font-weight: normal
    a, a:visited
      color: $dark
      +hover
    a.menu
      visibility: hidden
    &:hover
      a.menu
        visibility: visible
    h4
      margin: 0
      line-height: 1.1
  td, th
    border: 1px solid $verypale
    padding: 4px
  th.action, th.spacer
    border: 0
  th.action
    form.filter
      position: absolute
      bottom: 10px
      input[type="search"]
        width: 200px
  th.d, td.d
    border-right-color: $text
  td.hover
    background-color: $coolgrey0
  tr:hover
    td
      background-color: $coolgrey0
    td.hover
      background-color: $coolgrey1
  td.name
    min-width: 140px
    min-height: 36px
    line-height: 1
    text-align: left
    a
      color: $dark
      +hover
  td.spacer
    padding: 10px
  td.toggle
    min-height: 32px
    text-align: center
    span.no, span.yes, a.yes, a.no
      +icon("droom/minisymbols.png")
      margin: 5px 0 0 3px
      &.yes
        background-position: 0 -384px
      &.no
        background-position: 0 -528px
        opacity: 0.3
        &:hover
          opacity: 1
      &.not_applicable
        background-position: 0 -600px
      &.waiting
        background-image: image-url('droom/spinner.gif')
        background-position: 2px 2px
    span.no, span.yes
      opacity: 0.3
    a.no:hover
      background-position: 0 -648px
    a.yes:hover
      background-position: 0 -480px
  tr.unconfirmed
    td, th, td.name
      color: $pale
      a
        color: $pale
        +hover
      



table.groups
  margin-bottom: 25px
  th, td
    line-height: 32px
    white-space: nowrap
  input[type="text"]
    font-size: 1em
  th.name
    vertical-align: top
    width: 200px
    input.name
      width: 190px
  td.description
    width: 250px
    input
      width: 240px
  td.count
    width: 15px
  td.buttons
    width: 80px



.eventline
  font-size: 80%
  h4
    margin: 0
  p
    margin-top: 0




div.pag
  position: relative
  clear: left
  margin: 16px 0
  height: 40px
  span
    display: block
    float: left
    margin-right: 5px
    a
      display: block
      background-color: $pale
      color: white
      padding: 5px 10px
      min-width: 16px
      text-align: center
      border-radius: 20px
      &:hover
        background-color: $hover
        color: white
      &:visited
        color: $dark
    &.current
      font-weight: bold
      background-color: $mid
      color: white
      padding: 5px 10px
      min-width: 16px
      text-align: center
      border-radius: 20px
    &.gap
      border: 1px solid white
      padding: 5px 10px
      min-width: 16px
      text-align: center
      color: $dark
    &.note
      display: block
      clear: left
      margin-top: 10px

p.notification
  color: $green
  +icon_link("droom/tick.png")


span.erratic
  display: block
  overflow: hidden
  input[type="text"], input[type="password"], input[type="email"], select
    border-color: lighten($error, 40)
    color: $error
    &.empty
      color: lighten($error, 40)
  .error_message
    color: $error
    display: block
    font-weight: bold
    a.closer
      display: block
      float: left
      width: 16px
      height: 16px
      margin-right: 2px
      +text-hidden
      background:
        image: image-url('droom/crosses.png')
        color: transparent
        position: 3px -58px
        repeat: no-repeat

span.action
  display: inline-block

*.action
  font-weight: normal
  a.add
    color: $green
    font-weight: normal
    white-space: nowrap
    +icon_link("droom/add.png")
    &:hover
      color: #89d690
    &.waiting
      color: $pale
      background-image: image-url('droom/spinner.gif')
      pointer-events: none
  a.edit
    color: $blue
    font-weight: normal
    white-space: nowrap
    +icon_link("droom/edit.png")
    &:hover
      color: #00d5ff
  a.delete
    color: $darkred
    font-weight: normal
    white-space: nowrap
    +icon_link("droom/delete.png")
    &:hover
      color: $warmred
  a.revert
    color: $mid
    font-weight: normal
    white-space: nowrap
    &:hover
      color: $warmred
  a.subscribe
    color: $blue
    font-weight: normal
    white-space: nowrap
    +icon_link("droom/subscribe.png")
    &:hover
      color: $warmred

div.copyholder
  display: inline-block
  position: relative
  a.copy
    display: block
    color: $mid
    font-weight: normal
    font-size: 16px
    white-space: nowrap
    +icon_link("droom/smallcopy.png")
    min-height: 15px
  embed
    position: absolute
    top: 0
    left: 0

ul.dropdown
  position: absolute
  overflow-x: hidden
  overflow-y: auto
  color: $link
  margin: 0
  padding: 0
  background-color: white
  border: 1px solid $pale
  border-top: 0
  z-index: 100
  list-style: none
  max-height: 140px
  li
    a, a:visited
      display: block
      padding: 8px
      cursor: hand
      color: $dark
      background:
        position: 6px 11px
        repeat: no-repeat
      &.hover
        color: white
        background-color: $active
        background-position: 6px -132px
      &:active
        color: $active
        background-color: white
        background-position: 6px -132px
    &.video
      clear: left
      margin-bottom: 4px
      line-height: 1.2
      span.title
        font-weight: bold
        margin-top: 2px
      span.description
        white-space: nowrap
        color: $mid
        font-size: 0.8em
      a
        padding: 8px 6px 6px 6px
      img
        width: 50px
        float: left
        margin-right: 5px
        margin-top: -2px

div.nested_set
  position: relative
  .repeating
    position: relative
    .controls
      display: none
      position: absolute
      top: -6px
      right: -6px
      z-index: 100
    &:hover
      .controls
        display: block

ul.downloads
  margin: 0
  padding: 0
  list-style: none

a.document
  display: inline-block
  padding: 6px 0 0 28px
  min-height: 20px
  line-height: 22px
  color: $mid
  background:
    repeat: no-repeat
    position: 0 0
    image: image-url('droom/icons.png')
  &.pdf
    background-position: 0 -48px
    color: red
  &.doc, &.docx
    background-position: 0 -96px
    color: #1683ab
    +hover
  &.xls, &.xlsx
    background-position: 0 -144px
    color: #369620
    +hover
  &.mp4, &.mov, &.ogg
    background-position: 0 -192px
    color: #642195
    +hover
  &.waiting
    color: $pale
    background-position: 8px 8px
    background-image: image-url('droom/spinner.gif')

li.more
  +pale
  a
    display: block
    padding: 5px 0
    min-height: 22px

.overlay
  position: absolute
  top: 0
  left: 0
  z-index: 30

div.interjected
  position: relative
  width: 600px
  z-index: 40

div.kal
  position: absolute
  left: 0
  top: 0
  padding: 10px
  background-color: white
  z-index: 300

div.timepicker
  box-shadow: 0 2px 2px #444
  position: absolute
  display: none
  height: 191px
  width: 60px
  overflow-x: hidden
  overflow-y: auto
  background: #fff
  border: 1px solid #aaa
  z-index: 99
  margin: 0
  ul
    list-style-type: none
    margin: 0
    padding: 0
  li
    cursor: pointer
    padding: 4px 3px
    &.selected
      background: $link
      color: #fff
      font-weight: bold
    &:hover
      background: $verypale
    &:active
      background: $link
      color: #fff

#stream, .search_results, .suggestion_search
  .scrolled
    width: 320px
  .scroller
    margin-left: 5px
    width: 640px
    .paginated
      width: 320px
      position: relative
      float: left

#groups
  div.group
    .scrolled
      width: 680px
      border-bottom: 1px solid white
    .scroller
      margin-left: 5px
      width: 1360px
      .paginated
        width: 680px
        position: relative
        float: left

$calendar_width: 250px
$box: 35px

#minicalendar
  margin-top: 36px
  position: relative
  overflow: hidden
  width: 250px
  margin: 0
  .scroller
    width: 600px
    height: 260px
    table
      position: relative
      float: left

#finder
  position: relative
  .scrolled
    width: 320px
    .scroller
      margin-left: 5px
      width: 640px
      .paginated
        width: 320px
        position: relative
        float: left

#search, .search_results
  position: relative

#margin
  form.filter
    margin-top: 3px
    p
      margin: 0.2em 0
    input[type="text"]
      font-size: 1.2em
      padding: 10px
      width: 80%
    input[type="submit"]
      font-size: 18px
      width: 20%
    input[type="search"]
      font-size: 18px
      width: 100%
  .filtered_list

table.minimonth
  font-style: normal
  border-collapse: collapse
  border:
    style: solid
    width: 1px
    color: white
  color: $text
  margin: 0
  h3
    font-size: 1.2em
    line-height: 22px
    margin: 10px 0 5px 0
  a
    display: block
    font-weight: lighter
    text-decoration: none
  th
  th, td
    font-weight: normal
    border:
      style: solid
      width: 1px
      color: white
    vertical-align: top
    text-align: center
    height: $box
    width: $box
    line-height: $box
    padding: 0
    overflow: hidden
  td.m
    a
      display: block
      overflow: hidden
      font-size: 1.4em
      line-height: 1
      width: $box
      height: $box
      text-indent: 50px
      background:
        position: 5px 5px
        repeat: no-repeat
        image: image-url('droom/minimonth.png')
      &:hover
        background-position: 5px -43px
      &.previous
        background-position: 5px -91px
        &:hover
          background-position: 5px -139px
      &.waiting
        background-image: image-url('droom/spinner.gif')
        background-position: 8px 12px
        &:hover
          background-position: 8px 12px
  th.day_name
    color: $dark
  td.t
    background-color: $palest
  td.w
  td.u
    color: $pale
    +blurred
  td.e
    a:hover
      background-color: $hover
      color: white
  td.o
    color: $verypale
    a
      color: $pale
      &:hover
        color: white
  td.t
    font-weight: bold
  td.p



h3.setup
  padding-left: 22px
  background:
    repeat: no-repeat
    position: 0 0
    image: image-url('droom/setup.png')

ul.setup
  list-style: none
  padding: 0
  li
    a

#map
  height: 700px
  &.small
    height: 225px
    width: 225px

.progress
  height: 10px
  width: 300px
  border: 1px solid $pale
  border-radius: 5px
  .bar
    float: left
    background: $mid
    border-radius: 5px
    height: 10px
    width: 0
  .status
    float: left
    color: $mid

.window
  overflow: auto
  h2
    margin: 5px 0 0
  .window_venue_events
    max-height: 120px

.note, .formnote
  font-size: 90%
  color: $mid
  a, a:visited
    color: $mid
    &:hover
      color: $hover

span.formnote
  display: block

p.note
  white-space: normal

p.nothing_to_see
  padding: 100px 0


ul.tags
  padding: 0
  li
    display: inline-block


p.twister
  &:first-child
    margin-top: 0
  a
    display: block
    padding-left: 18px
    background:
      repeat: no-repeat
      position: 0 -62px
      image: image-url('droom/twister.png')
    &:hover
      background-position: 0 -94px
  &.closed
    a
      background-position:  0 2px
      &:hover
        background-position: 0 -30px

.twisted
  display: none

.twister
  a.twisty
    +icon_link("droom/twisty.png")
    color: $dark
    +hover
    +waitable

  &.showing
    a.twisty
      background-position: 0 -32px
      &:hover
        background-position: 0 -48px
        color: $hover

a.expander
  +icon_link("droom/expander.png")
  color: $dark
  +hover
  &:visited
    color: $dark
    +hover
  &.showing
    background-position: 0 -64px
    &:hover
      background-position: 0 -96px

ul.filing
  position: relative
  padding: 0
  list-style: none
  &:empty
    display: none
  li.document
    position: relative
    white-space: nowrap
    overflow: hidden
  li.files
    display: inline-block
    width: 100%

.no-touch
  ul.filing, ul.uploads
    li.document
      span.action
        visibility: hidden
      &:hover
        span.action
          visibility: visible

div.attachments
  position: relative
  float: right
  width: 240px
  overflow: hidden
  font-size: 90%
  h3
    margin: 0
    padding-left: 20px
    font-weight: normal
    line-height: 1.5
    a
      +inverted
  ul
    padding-left: 20px
    margin: 0
    list-style: none
    ul
      padding-left: 0
    li.folder
      margin-left: 5px
      a.folder
        font-weight: bold
        color: $text
  &.col
    h3, ul
      padding-left: 0

ul#folders, div.attachments
  padding-left: 0
  li
    list-style: none
    margin: 0 0 0.25em 0
    &.files
      margin-bottom: 0

  li.folder
    ul
      padding-left: 16px
      margin: 0
      &.uploads
        padding-left: 32px
    a.folder
      +big_icon_link("droom/folder.png")
      text-indent: 32px
      color: $text
      font-weight: bold
      +hover
      +waitable
      padding: 4px 0
    &.root
      > a.folder
        font-size: 125%
        text-indent: 32px
    &.open
      > a.folder
        background-position: 0 -192px
        &:hover
          background-position: 0 -240px
    &.empty
      > a.folder
        color: $pale
        background-position: 0 -144px
      &.open
        > a.folder
          background-position: 0 -336px
    &.working
      opacity: 0.5
      a.folder
        background:
          image: image-url('droom/spinner.gif')
          position: 0 3px
          repeat: no-repeat

input.search_box
  font-size: 1.5em
  padding: 10px
  width: 80%


#flashes
  position: absolute
  top: 20px
  right: 50px
  width: 300px
  p
    display: none
    padding: 16px
    color: white
    border: 1px solid white
    border-radius: 3px
    +shadowed
    &.notice
      background-color: $transgreen
      border-color: $green
    &.alert
      background-color: $transred
      border-color: $red
    a.closer
      display: block
      float: right
      width: 16px
      height: 16px
      margin-left: 10px
      margin-right: -10px
      margin-top: -5px
      +text-hidden
      background:
        image: image-url('crosses.png')
        color: transparent
        position: 0 -96px
        repeat: no-repeat


/* -------- map infowindows -------- */

.window
  h2
    margin-bottom: 0.1em
  address
    font-style: normal
    color: $mid
    +small

/* -------- drag_sort -------- */

.handle
  cursor: move

.sortable-placeholder
  height: 40px
  background: #def





form
  .columns
    position: relative
    width: 540px
    .column
      position: relative
      overflow: hidden
      width: 260px
      float: left
      margin-right: 10px
      p:first-child
        margin-top: 0
      &.hidden
        display: none
  .fullwidth
    clear: left
    input[type="text"], input[type="email"], input[type="password"], select, textarea
      width: 97%
  p.admin
    float: right
    input[type="text"], input[type="email"], input[type="password"], select, textarea
      width: 90px
      margin-left: 6px
    &+.buttons
      width: 50%
  .buttons
    clear: left
    margin-top: 1em

form.preferences
  input[type='radio'], input[type='checkbox']
    display: none
    float: left
    width: 20px
  input[type='radio'] + label, input[type='checkbox'] + label
    clear: none
    padding: 5px 0 4px 22px
    margin-right: 6px
    cursor: pointer
    color: $mid
    background:
      repeat: no-repeat
      image: image-url("droom/checkboxes.png")
  input[type='checkbox'] + label
    background-position: 0 -26px
  input[type='checkbox'][disabled] + label
    background-position: 0 -90px
    cursor: default
  input[type='checkbox'][disabled]:checked + label
    background-position: 0 -58px
    color: $pale
  input[type='checkbox']:checked + label
    background-position: 0 6px
    color: $green
  input[type='radio'] + label
    background-position: 0 -153px
    padding-left: 20px
  input[type='radio']:checked + label
    background-position: 0 -121px
    color: $green
  input.waiting[type='radio'] + label, input.waiting[type='checkbox'] + label
    color: $pale
    background:
      image: image-url('droom/spinner.gif')
      position: 0 2px

span.preference
  display: block
  margin: 3px
  span.subpreference
    display: block
    overflow: hidden
    margin: 3px 0 3px 20px

ul.documents, #margin ul.documents
  margin: 20px 0 0 -2px
  padding: 0
  list-style: none
  li
    margin-bottom: 0.25em

ul.people
  margin: 10px 0 0 -2px
  padding: 0
  list-style: none
  li.person
    display: inline-block
    vertical-align: top
    width: 250px
    height: 48px
    margin-bottom: 20px
    line-height: 1.25
    a
      color: $dark
      &.email
        color: $mid
      &.add
        color: $green
        span.mugshot
          background: none
      +hover
    &.unconfirmed
      a
        color: $pale
        &.reinvite
          color: $blue
          &.reinvited
            color: $green
          &.erratic
            color: $red
      span.mugshot
        color: $pale
        background-image: none
    &.refused
      opacity: 0.4
    span.mugshot
      position: relative
      display: block
      float: left
      width: 32px
      height: 32px
      border-radius: 16px
      border: 1px solid $pale
      margin-right: 9px
      margin-top: 11px
      svg
        width: 32px
        height: 32px
      background:
        repeat: no-repeat
        position: center center
        size: cover
      .invitation
        display: block
        position: absolute
        overflow: hidden
        top: -6px
        right: -6px
        width: 14px
        height: 14px
        text-indent: 20px
        background:
          repeat: no-repeat
          position: 0 0
          image: image-url('droom/acceptance.png')
        &.refused
          background-position: 0 -130px
        &.accepted
          background-position: 0 -162px
        &.maybe
          background-position: 0 -98px

    span.contact
      display: block
      overflow: hidden
      span.name
        display: inline-block
        font-size: 1em
        margin-top: 4px

.search_results
  position: relative
  margin-top: 15px
  .search_result, .scrap, .person, .document, .event, .venue, .group
    width: 100%
    a
      font-size: 1.3em
    clear: left
    position: relative
    margin: 5px 0 25px 0
    a.icon, a.thumb
      position: absolute
      display: block
      left: -56px
      text-indent: 50px
      overflow: hidden
      width: 50px
      height: 70px
      background:
        repeat: no-repeat
  .document
    a.icon
      background:
        position: 0 0
        image: image-url('droom/medium_icons.png')
      &.pdf
        background-position: 0 -100px
      &.doc, &.docx
        background-position: 0 -200px
      &.xls, &.xlsx
        background-position: 0 -300px
  .venue, .person, .group
    a.icon
      background-image: image-url('droom/medium_object_icons.png')
  .venue
    a.icon
      background-position: 0 -146px
  .person
    a.icon
      background-position: 0 -46px
  .group
    a.icon
      background-position: 0 -196px


div.popup
  #event, #document, #user, #group, #event_type, #membership, #folder
    width: 580px
    > p
      margin: 10px 20px 0 20px

div.popup
  form.event
    margin-left: $datemark_width + $datemark_margin
  form.document
    margin-left: 60px

  div.notifier
    position: absolute
    top: 0
    left: 0px
    height: 100%
    background-color: white
    padding: 20px 140px

  div.user
    margin: 20px 20px
    div.mugshot
      position: relative
      display: block
      float: left
      width: 130px
      height: 130px
      margin-right: 20px
      margin-bottom: 20px
      border-radius: 8px
      background:
        color: $mid
        repeat: no-repeat
        position: center center
        size: cover
    div.detail
      overflow: hidden
      h3
        margin: 0
        font-size: 2em
      p.contact
        +pale
        margin-top: 0

ul.checklist
  font-size: 80%
  list-style: none
  padding: 0
  margin: 0
  input[type="checkbox"]
    position: absolute
  label
    display: block
    margin-left: 20px
    overflow: hidden

#enquire
  margin: 0
  p
    span
      display: inline-block
      vertical-align: top
      width: 48%
      margin-right: 3.5%
      &:last-child
        margin-right: 0
    &.message
      textarea
        width: 99.5%
        height: 200px
    &.robot
      display: none

//User profile preview

#user_profile
  position: relative
  width: 100%

  header#user_title
    width: 100%
    clear: both
    margin-bottom: 15px
    .user_title
      font-size: 3.2em
      margin: 30px 0 30px -2px
      &.smaller
        font-size: 2.6em
      &.bigger
        font-size: 4em
        margin-left: -8px
      &.biggest
        font-size: 6em
        margin-left: -10px
      .addendum
        +pale
        font-size: 50%

  #user_profile_detail
    position: relative
    width: 100%
    min-height: 600px
    margin-bottom: 200px

    aside#right_pane
      display: block
      position: absolute
      float: right
      width: 30%
      right: 0
      top: 0

      section
        margin-bottom: 1em

        ul.address_book
          list-style: none
          margin: 0
          padding: 0
          li
            clear: left
            padding: 5px 0
            +clearfix
            svg.icon
              float: left
            span.contact
              float: left
              width: calc(100% - 24px)
              overflow: hidden

      section.contacts
        h2.section
          margin-top: 0

    #left_pane
      float: left
      width: 65%

      #left_pane_contents
        width: 100%
        clear: both

        section.personal_info
          width: 100%
          clear: both
          margin-bottom: 11em

          #personal_info_content
            width: 100%
            clear: both

            #left_pane
              width: 25%
              float: left

            #right_pane
              width: 75%
              float: left

              .right_pane_container
                width: 100%
                clear: both

                .right_pane_contents
                  width: 50%
                  float: left

        section.account_info
          width: 100%
          clear: both
          margin-bottom: 3em

          #account_info_container
            .liveliness
              margin: 1em 0
              &.unreachable
                color: $red
              &.unresponsive
                color: $red
              &.external
                color: $green
              &.internal
                color: $green
              svg.icon.small
                margin-left: -24px
                &+span.label
                  margin-left: 0
                  line-height: 28px
          
            width: 100%
            .account_info_contents
              width: 100%
              clear: both

              .left_pane
                width: 33%
                float: left

              .mid_pane
                width: 33%
                float: left

              .right_pane
                width: 34%
                float: left

        section.rs_with_croucher
          width: 100%
          clear: both
          margin-bottom: 1em
        section.statuses_info
          width: 100%
          margin-bottom: 1em

          #statuses_container
            width: 100%

        section.groups_info
          width: 100%
          margin-bottom: 1em

        section.notes_info
          width: 100%


    .editable
      position: relative
      border-left: 1px dotted transparent
      padding-left: 9px
      margin-left: -10px
      transition: border-color 0.5s ease-in
      & > span.user_controls
        position: absolute
        overflow: hidden
        opacity: 0
        transition: opacity 0.5s ease-in
        top: -3px
        left: -79px
        width: 80px
        font-size: 14px
        font-weight: normal
        background-color: white
        a.new, a.edit, a.pick
          display: inline-block
          vertical-align: top
          float: right
          padding: 2px 5px 2px 10px
          border: 1px dotted $pale
          border-right: 0
          border-top-left-radius: 20px
          border-bottom-left-radius: 20px
        a.detach, a.delete
          display: inline-block
          vertical-align: top
          float: right
          padding: 2px 5px
          border: 1px dotted $pale
          border-right: 0
          border-left: 0
        a.edit
          color: $blue
          +hover
        a.new
          color: $green
          +hover
        a.pick
          color: $blue
          +hover
        a.detach
          color: $blue
          +hover
          padding: 2px 5px
        a.delete
          color: $red
          +hover
          padding: 2px 5px
        a.copy
          display: none
        &:hover
          visibility: visible
      &:hover
        border-color: $pale_for_edit
        & > span.user_controls
          opacity: 1

#edit_account_info
  with: 100%
  clear: both

  .edit_account_info_content
    width: 100%
    clear: both

    .content_box
      width: 33%
      float: left
    .last_content_box
      width: 34%
      float: left


.centered
  width: 100%
  text-align: center

@import droom/popups
@import droom/stream
@import droom/datepicker
@import droom/uploader
@import droom/columns
@import droom/ed
@import droom/forms
@import droom/help
@import droom/menus
@import droom/noticeboard
@import droom/pages
@import droom/symbols
@import droom/tagger
@import droom/token_input

@import medium/base
@import medium/droom
@import droom/draggables
