#error
  %h1
    Sorry. Something is not allowed  

  %pre
    = @exception.inspect

  %p
    A message is sent to Will automatically every time an exception like this happens. 
    If you would like to add more chastisement or more context, you can reach him on 
    = mail_to "will@apanner.org"
    or 01229 588098.
