%p
  Hello 
  = @user.best_name + ','
  
%p
  Someone, perhaps you, has entered your email address into the 'forgotten password' form in the data room.

%p
  If that person was not you, please don't be concerned: you are receiving this message and they are not. 
  Please ignore it and carry on as usual.
  
%p
  If you would like to change your password, please click on the link below:
  
%h2
  = link_to "Change your password here", edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
  
%p
  Your password will not change until you complete this process, so if you have just remembered it you can still 
  = link_to "log in", new_user_session_url
  as usual.