- slug ||= ""
- category ||= nil
- title ||= nil

- if help = Droom::Help.find_by(slug: slug, category: category)
  = link_to droom.help_url(help), class: "help", data: {action: "popup", style: "help"} do
    %svg.prefix
      %use{"xlink:href" => "#help_symbol"}
    %span.label
      = help.title.presence || title.presence || help.slug

- elsif can? :create, Droom::Help
  = link_to droom.new_help_url(help: {slug: slug, category: category, title: title}), class: "help new", data: {action: "popup", replaced: "this"} do
    %svg.prefix
      %use{"xlink:href" => "#help_symbol"}
    %span.label
      = title.presence || slug