- listed ||= nil
- help ||= listed  || @help
- cssclass = "help holder"

%div{class: cssclass, id: "help_#{help.id}", data: {refreshing: true, url: droom.help_path(help, view: "listed")} }
  .heading
    %h2.name<
      = link_to help.title, droom.edit_help_url(help), :class => "name"

  - if help.content?
    %p.preview
      = shorten(strip_tags(help.content), :length => 64)
