- content_for :title do
  = t :event_type_admin

- content_for :standfirst do
  %p
    = t :event_types_introduction

#event_types
  = render :partial => 'event_types'

  %p.action
    - if can?(:create, Droom::EventType)
      = link_to t(:add_event_type), droom.new_event_type_url, :class => "add", :remote => true, :data => {:action => "popup", :type => "html", :affected => "div.event_types"}
