%p
  Hello
  = @user.formal_name + ','

%p
  Here is the login link that you may just have requested. Please click on the link below to sign in automatically:

%h3
  = link_to "Sign in here",  signmein_url(u: @user.uid, t: @user.login_token)

%p
  This link expires at 
  = l(@user.login_token_created_at + Droom.config.login_token_ttl, format: :precise) + '.'
  If you did not request the link, you can safely delete this message. Only you are receiving it.
