%p
  Dear
  = @user.formal_name + ','

%p
  Thank you for registering the organisation
  %strong
    = @organisation.name + '.'
  Your application has been sent to our administrator and will be reviewed soon.
  Upon successful registration, you will receive a confirmation email.
