- user ||= @user
- user.addresses.build(address_type: Droom::AddressType.default) unless @user.addresses.any?

#address_fields.nested_set
  = render :partial => 'droom/addresses/fields', :collection => user.addresses

- unless user.new_record?
  %p.action{style: 'margin-top: -10px;'}
    = link_to t(:add_address), droom.new_user_address_url(user), :class => "add", :data => {:action => "append_fields", :affected => '#address_fields'}
