- user ||= f.object
- with_submit ||= false

%fieldset{data: {role: 'password'}}
  %p.password_quality.floating{data: {role: "meter"}}
    %span.instructions{data: {role: "warnings"}}
    %span.meter{data: {role: "gauge"}}
      %svg.ok
        %use{"xlink:href" => "#bare_tick_symbol"}
      %svg.notok
        %use{"xlink:href" => "#bare_cross_symbol"}
  %p.manage_password
    %span.col.password>
      = f.label :password, class: "required"
      = f.password_field :password, placeholder: t("placeholders.user.password"), required:  user.new_record?, data: {role: "password"}
    %span.col.confirmation{:data => {:role => "confirmation"}}>
      %br
      = f.password_field :password_confirmation, placeholder: "", required: true

