- user ||= f.object
- with_submit ||= false

%fieldset{data: {role: 'password'}}
  %p.manage_password
    %span.col.password>
      = f.label :password, class: "required"
      = f.password_field :password, placeholder: t("placeholders.user.password"), required:  user.new_record?, data: {role: "password"}
    %span.col.confirmation{:data => {:role => "confirmation"}}>
      = f.label :password_confirmation, class: "required"
      = f.password_field :password_confirmation, placeholder: "", required: true

  %p.password_quality{data: {role: "meter"}}
    %span.meter{data: {role: "gauge"}}
    %span.instructions{data: {role: "warnings"}}
    %span.notes{data: {role: "notes"}}
