- user ||= @user
- user.emails.build(address_type: Droom::AddressType.default) unless user.emails.any?

.nested_set
  #email_fields
    = render :partial => 'droom/emails/fields', :collection => user.emails

  - unless user.new_record?
    = link_to droom.new_user_email_url(user), :class => "add", :data => {:action => "append_fields", :affected => '#email_fields'} do
      %svg.icon>
        %use{"xlink:href" => "#plus_button_symbol"}
