- user ||= @user

- if local_assigns.has_key? :is_edit_mode
  - is_edit_mode = is_edit_mode
- else
  - is_edit_mode = true

- user.emails.build(address_type: Droom::AddressType.default) unless user.emails.any?

#email_fields.nested_set
  = render :partial => 'droom/emails/fields', :collection => user.emails, locals: {is_edit_mode: is_edit_mode}

- if is_edit_mode
  - unless user.new_record?
    %p.action{style: 'margin-top: -10px;'}
      = link_to t(:add_email), droom.new_user_email_url(user), :class => "add", :data => {:action => "append_fields", :affected => '#email_fields'}
