- user ||= @user
- user.phones.build(address_type: Droom::AddressType.default) unless user.phones.any?

#phone_fields.nested_set
  = render :partial => 'droom/phones/fields', :collection => user.phones

- unless user.new_record?
  %p.action
    = link_to t(:add_phone), droom.new_user_phone_url(user), :class => "add", :data => {:action => "append_fields", :affected => '#phone_fields'}
